[Unit]
Description=Alertmanager {{ alertmanager_version }}
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
User={{ prometheus_user }}
Restart=on-failure
RestartSec=10
ExecStart={{ alertmanager_daemon_dir }}/alertmanager \
              -config.file={{ prometheus_path_config }}/alertmanager.yml \
              -storage.path={{ alertmanager_path_data }}
[Install]
WantedBy=multi-user.target
