# /etc/systemd/system/prometheus.service

[Unit]
Description=Prometheus Server {{ prometheus_version }}
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
User={{ prometheus_user }}
Restart=on-failure
ExecStart={{ prometheus_daemon_dir }}/prometheus \
              -config.file={{ prometheus_path_config }}/prometheus.yml \
              -storage.local.path={{ prometheus_path_db }} \
              {% if prometheus_alertmanager_url is defined %}
              -alertmanager.url={{ prometheus_alertmanager_url }} \
              {% endif %}
              -web.console.templates={{ prometheus_daemon_dir }}/consoles  \
              -web.console.libraries={{ prometheus_daemon_dir }}/console_libraries

[Install]
WantedBy=multi-user.target
