---
# https://prometheus.io/docs/operating/configuration/

global:
  # How frequently to scrape targets by default.
  # [ scrape_interval: <duration> | default = 1m ]
  scrape_interval:  {{ prometheus_scrape_interval | default('15s') }}

  # How long until a scrape request times out.
  # [ scrape_timeout: <duration> | default = 10s ]
  scrape_timeout: {{ prometheus_scrape_timeout | default('10s') }}

  # How frequently to evaluate rules.
  # [ evaluation_interval: <duration> | default = 1m ]
  evaluation_interval:  {{ prometheus_evaluation_interval | default('15s') }}

scrape_configs:

  # Scrape job for prometheus himself
  - job_name: '{{ prometheus_service_name }}'
    static_configs:
      - targets: ['localhost:{{ prometheus_port | default('9090') }}']





#  # The labels to add to any time series or alerts when communicating with
#  # external systems (federation, remote storage, Alertmanager).
#  external_labels:
#    [ <labelname>: <labelvalue> ... ]
#
#  # Rule files specifies a list of globs. Rules and alerts are read from
#  # all matching files.
#  rule_files:
#    [ - <filepath_glob> ... ]
#
#  # A list of scrape configurations.
#  scrape_configs:
#    [ - <scrape_config> ... ]
#
#  # Alerting specifies settings related to the Alertmanager.
#  alerting:
#    alert_relabel_configs:
#      [ - <relabel_config> ... ]
#    alertmanagers:
#      [ - <alertmanager_config> ... ]
#
#  # Settings related to the experimental remote write feature.
#  remote_write:
#    [ - <remote_write> ... ]
#
#  # Settings related to the experimental remote read feature.
#  remote_read:
#    [ - <remote_read> ... ]
